nav > ul > li {
  display: inline;
}

header {
  border: 2px solid black;
}

header {
  background-color: #FFB4B0  
}

.leftpanel {
  border: 2px solid black;
  background-color: #4DD7FA;
  line-height: 200%;
  padding: 10px;
  width: 145px;
  height: %;
}

select {
  width: 93%;
}

.leftcheck {
  float: left;
}

.filterbutton {
  width: 90px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #E6E6E6;
  border-color: black;
  top-margin: 50px;
}

label > div {
  line-height: 20%;
}






 

